---
---

<section class="hero" id="accueil">
  <div
    class="hero__bg"
    style="background-image:url('/images/hero_1.webp')"
  ></div>

  <div class="hero__stage">
    <div class="hero__media" aria-label="Construction d'une maison, des fondations à la livraison">
      <!-- Layer 1: Fondations -->
      <div
        class="hero__layer"
        style="background-image:url('/images/hero_2.webp')"
      ></div>
      <!-- Layer 2: Élévation des murs -->
      <div
        class="hero__layer"
        style="background-image:url('/images/hero_3.webp')"
      ></div>
      <!-- Layer 3: Maison livrée -->
      <div
        class="hero__layer"
        style="background-image:url('/images/hero_4.webp')"
      ></div>
      <div class="hero__media-tint"></div>
      <div class="hero__media-grad"></div>
      <div class="hero__cap">
        <span class="num">01</span>
        <span class="meta">
          <span class="k">Étape 01</span>
          <span class="v">Les fondations</span>
        </span>
      </div>
      <div class="hero__pbar"><i></i></div>
    </div>

    <h1 class="hero__title">
      <span class="word w1">Maçon</span>
      <span class="word w2">Modern</span>
    </h1>

    <div class="hero__lead">
      <span class="est">Bâtisseurs depuis 2003</span>
      <button class="hero__scroll" aria-label="Défilez pour bâtir">
        <span class="lbl">Défilez pour bâtir</span>
        <span class="mouse"></span>
      </button>
    </div>
  </div>
</section>
