---
---

<section class="stats">
  <div class="container">
    <div class="stats__inner reveal">
      <div class="stat">
        <div class="num"><span class="suf">+</span><span data-count="21">0</span></div>
        <div class="lbl">Années de savoir-faire</div>
      </div>
      <div class="stat">
        <div class="num"><span data-count="480">0</span></div>
        <div class="lbl">Chantiers livrés en région</div>
      </div>
      <div class="stat">
        <div class="num"><span data-count="98">0</span><span class="suf">%</span></div>
        <div class="lbl">Clients satisfaits</div>
      </div>
      <div class="stat">
        <div class="num"><span data-count="10">0</span><span class="suf">&nbsp;ans</span></div>
        <div class="lbl">Garantie décennale incluse</div>
      </div>
    </div>
  </div>
</section>
